//resets
body {
    margin: 0px;
    padding: 0px;
}

button {
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

//globals
.hidden {
    display: none;
}

//variables
//colors
$main-theme-color: #3b5998;
$secondary-theme-color: #29487d;
$button1-color: #3498db;
$button2-color: #ccc;
.no-pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #f00;
    text-align: center;
}

.dum-current {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.45);
    z-index: 1;
    transition: all ease-in-out .5s;
}

.control-wrapper {
    background: $main-theme-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 99999;
    border: solid 1px $secondary-theme-color;
    font-size: 16px;
    >div,
    >button {
        padding: 10px;
        box-sizing: border-box;
    }
    &.closed {
        right: 40px;
    }
    >div,
    button {
        border-right: solid 1px $secondary-theme-color;
    }
}

// popup window
.popup {
    .control-btn {
        width: 100%;
        border: solid 1px darken($button1-color, 5%);
        background: $button1-color;
        font-size: 16px;
        >span {
            line-height: 40px;
            display: inline-block;
            flex: 1;
            min-width: 50%;
            box-sizing: border-box;
            &:first-child {
                text-align: left;
                padding-left: 20px;
            }
        }
        .right-info {
            border: none;
            text-align: center;
            width: 80px;
            select {
                border: none;
                background: transparent;
                color: #fff;
                font-size: 16px;
                line-height: 40px;
                height: 40px;
                width: 100%;
                max-width: 100%;
                padding: 5px 0px;
                text-align: center;
            }
        }
        &.login {
            font-size: 14px;
            font-weight: normal;
            background: $button1-color;
            border: solid 1px darken($button1-color, 5%);
            &:hover {
                background: lighten($button1-color, 5%);
            }
        }
    }
}

.control-btn {
    color: #fff;
    text-align: center;
    justify-content: space-around;
    font-weight: bold;
    transition: all ease-in-out .3s;
    display: flex;
    background: transparent;
    &:hover {
        background: lighten($button1-color, 5%);
    }
    &:hover {
        cursor: pointer;
    }
}

.collect-data {}

.plugin-title {
    width: 100%;
    color: darken($button1-color, 10%);
    border-top: solid 1px darken($button1-color, 10%);
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
    padding: 0px 8px;
    box-sizing: border-box;
}

.counter {
    color: #fff;
    font-size: 16px;
    z-index: 99999;
    margin-left: auto;
    font-weight: bold;
    margin-left: auto;
    flex: 1;
}

.info-message {
    position: fixed;
    top: 50%;
    right: 5px;
    background: rgba(255, 255, 255, .45);
    border: solid 1px rgba(255, 255, 255, .75);
    color: rgba(100, 100, 100, 1);
    padding: 5px;
    opacity: 1;
    animation: fade 1s linear;
    &.console {
        margin-top: -30px;
    }
}

@keyframes fade {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.timer {
    color: #fff;
    float: auto;
}

.friend-frame {
    position: absolute;
    width: 200px;
    right: 0;
    top: 0;
}